<!DOCTYPE html>

<html>

<head>

<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>

<title>{% block title %}

{% endblock title %}</title>

{% block head %}

{% endblock head %}

</head>

<body>

<h1>signpost</h1>
<hr>

<div id="content-block">

{% block body %}

{% endblock body %}

</div>

</body>

</html>